.cardd {
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 10px;
}

.movieCard_media {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.card_conent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
